	<div class="panel panel-warning"">
     <div class="panel-heading"><h5>SPECIAL BUSINESS FEATURES/AMENITIES</h5></div>
			  <div class="panel-body">
				<div class="row">
			<dl class="dl-horizontal">
				<dt>Description lists <span class="badge"><i class="fa fa-times"></i></span></dt>
				<dd><i class="fa fa-check-circle"></i>A description list is perfect for defining terms.<i class="fa fa-times"></i></dd>
				<dd><i class="fa fa-check-circle"></i>Vestibulum id ligula porta felis euismod semper eget
					lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. <i class="fa fa-times"></i>
				</dd>
				  <dd>
				  <div class="form-group">
				    <input type="email" class="form-control"  placeholder="Another decription line here">
									  <button class="btn btn btn-xs">
							<i class="fa fa-plus"></i> add more
						</button>
				  </div>
				  </dd>
				  <dd ><hr/></dd>
				<dt>Malesuada porta <span class="badge"><i class="fa fa-times"></i></span></dt>
				<dd><i class="fa fa-check-circle"></i>Etiam porta sem malesuada magna mollis euismod.<i class="fa fa-times"></i></dd>
				<dd><i class="fa fa-check-circle"></i>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
				    ut fermentum massa justo sit amet risus.<i class="fa fa-times"></i>
				</dd>
				  <dd >
				  <div class="form-group">
				    <input type="email" class="form-control"  placeholder="Another decription line here">
									  <button class="btn btn btn-xs">
							<i class="fa fa-plus"></i> add more
						</button>
				  </div>

				</dd>
			</dl>
		</div>
		</div>
		</div>				
		     <button class="btn btn-primary btn-sm" type="submit" ui-sref="register.location" ><i class="fa fa-left"></i> &nbsp; Previous</button>

			  <button class="btn btn-primary btn-sm" type="submit" ui-sref="register.services" ><i class="fa fa-right"></i> &nbsp; Next</button>