<div class="panel panel-warning"">
     <div class="panel-heading"><h5>TYPES OF EVENTS THAT THIS BUSINESS CAN CATER TO</h5></div>
	 <div class="panel-body">
	  <span ng-show="!hasEventtypes()" class="help-inline">You must select at least one type of  event</span>
		<div class="row">
		<div class="col-md-6 " ng-repeat="event in events ">
			<div class="checkbox">
			  <label>
			    <input type="checkbox" checklist-model="provider.events" checklist-value="event">
			      {{event.eid}} <a href="#" tooltip="{{event.description}}"><i class="fa fa-info-circle"></i></a>
			  </label>
			</div>
			</div>
			<p>&nbsp;</p>
			<p>
			  <button type="button" class="btn btn-primary  btn-xs" ng-click="checkAll('E')"><i class="fa fa-check"></i>Check all Events</button>
			  <button type="button" class="btn btn-default btn-xs" ng-click="uncheckAll('E')"><i class="fa fa-times"></i>Uncheck all</button>
			</p>
		</div>
	</div>
</div>	
 <div class="panel panel-warning"">
     <div class="panel-heading"><h5>BUSINESS SERVICE OFFERING </h5></div>
			  <div class="panel-body">
								<p>Does <strong>{{provider.name}}</strong> offer any of the following?, tick all that apply</p>
								<span ng-hide="hasServices()" class="help-inline">You must select at least one type of  service</span>
				<div class="row">
				  <ul class="list-group">
				   <div class="col-md-6 ">
					<li class="list-group-item" ng-repeat="service in services|filter:{providerTypes:provider.category}" ng-if="$odd">
						<div class="checkbox">
							<label> <input type="checkbox" checklist-model="provider.services" checklist-value="service"> {{service.sid}}</label>
						</div>
					</li>
				  </div>
				  <div class="col-md-6 ">
				  <li class="list-group-item" ng-repeat="service in services|filter:{providerTypes:provider.category}" ng-if="$even">
						<div class="checkbox">
							<label> <input type="checkbox" checklist-model="provider.services" checklist-value="service"> {{service.sid}}</label>
						</div>
					</li>
				 </div>
						</ul>
						<p>&nbsp;</p>
			<p>
				<button type="button" class="btn btn-primary btn-xs"ng-click="checkAll('S')"><i class="fa fa-check"></i>Check all Services</button>
				<button type="button" class="btn btn-default btn-xs" ng-click="uncheckAll('S')"><i class="fa fa-times"></i>Uncheck all</button>
			</p>
		 </div>
		 
		</div>
		</div>	

		     <button class="btn btn-primary btn-lg" type="submit" ui-sref="register.features" ><i class="fa fa-hand-o-left"></i> &nbsp; Previous</button>

			  <button class="btn btn-primary btn-lg" type="submit" ui-sref="register.photo" ng-disabled="!canGoNext() || !hasEventtypes() || !hasServices()"><i class="fa fa-right" ></i> Next Section &nbsp;<i class="fa fa-hand-o-right"></i></button>