
		<!-- WRAPPER -->

			<div id="shop" >
			<!-- PAGE TITLE -->
				<header id="page-title">
					<div class="container">
						<h1>Sign UP</h1>
						<ul class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li class="active">Sign UP</li>
						</ul>
					</div>
				</header>

				<section class="container">

					<div class="row">

						<!-- REGISTER -->
						<div class="col-md-8">
							<registration-header></registration-header>
							<div ng-show="httpResponse.statusCode == 400">
							<span class="error">Please correct the following identified errors before submitting this listing </span>
							   <alert ng-repeat="alert in httpResponse.messages" type="danger" >{{alert}}</alert>
							</div>
								
							<form  method="post" name="listingForm"  novalidate="novalidate">
							  <div ui-view></div>
							</form>

						</div>
						<!-- /REGISTER -->

						<!-- WHY? -->
						<provider-whyregister></provider-whyregister>
					<!-- /INFO -->

					</div>

				</section>

			</div>
	
  <!-- Provider Model: <pre ng-bind="toJSON(provider)"></pre>
  Form: <pre ng-bind="toJSON(listingForm)"></pre>  -->
  
 <!--  <pre>{{cities | filter:'Dar es Salaam'}}</pre> -->
 <!-- <pre>{{isVenuesWithVenueSpace()}} </pre> -->
