
		<!-- WRAPPER -->

			<div id="shop" >

				<section class="container">

					<div class="row">

						<!-- REGISTER -->
						<div class="col-md-8">
							<registration-header></registration-header>
								
							<form  method="post" name="listingForm"  novalidate="novalidate">
							  <div ui-view></div>
							</form>

						</div>
						<!-- /REGISTER -->

						<!-- WHY? -->
						<provider-whyregister></provider-whyregister>
					<!-- /INFO -->

					</div>

				</section>

			</div>
		
  <!-- Provider Model: <pre ng-bind="toJSON(provider)"></pre>
  Form: <pre ng-bind="toJSON(listingForm)"></pre> -->