<div id="shop" >
			
				<section class="container">

					<div class="row">

						<!-- REGISTER -->
						<div class="col-md-8">
						 <div class="alert alert-success">
							<h5>Thank you for submitting this property to E-mefana.</h5>
							We will verify that the property meets our listing guidelines from the information provided,
							
							and  email you for the next steps.You can review our listings guidelines here:
							</div>
							
							  <!-- Provider Model: <pre ng-bind="toJSON(provider)"> -->
						</div>
						

					</div>

				</section>
</div>
	