<div class="panel panel-warning"">
     <div class="panel-heading"><h5>BUSINESS PHYSICAL ADDRESS INFORMATION</h5></div>
			  <div class="panel-body">
								  <p class="star"><i class="glyphicon glyphicon-star"></i> - denotes required fields</p>
							<div class="row">
								    <div class="form-group">
								     <div class="col-md-12 "  >
									   <label>
										<input type="checkbox" data-for="use-location"  ng-model="provider.uselocation" ng-click="loadmap()"/>
										Use my current location as the <strong>{{provider.name }}</strong> official business location 
									 </label>
					               </div>
								    <div class="col-md-6">
								    	<div class="control-group">
											<label>Country</label>
											<i class="glyphicon glyphicon-star star" ng-show="showError(listingForm.country, 'required')" ></i>
											<select class="form-control pointer" name="country" ng-model="provider.country"  ng-options="country for country in countries" required>
												<option value="">Select a country</option>
											</select>
										</div>
									</div>
										
										<div class="col-md-6">
											<div class="control-group">
											<label>City</label>
											<i class="glyphicon glyphicon-star star" ng-show="showError(listingForm.city, 'required')" ></i>
											<input type="text" name="city" class="form-control" ng-model="provider.city" typeahead="city as city.cid for city in cities | filter:{cid:$viewValue}" typeahead-editable="false" required/>
											</div>
										</div>
									</div>
									
									<div class="form-group">
									<div class="col-md-6">
										<div class="control-group">
											<label>Street address</label>
											<i class="glyphicon glyphicon-star star" ng-show="showError(listingForm.address, 'required')" ></i>
											<input type="text" name="address" ng-model="provider.streetaddress"  class="form-control" placeholder="example: 123 Main Street"  required/>
										</div>
									</div>
									<div class="col-md-6">
											<label>Additional address information</label>
											<input type="text" value="" class="form-control" ng-model="provider.additionalstreetaddress"  placeholder="Suite number, intersection, plaza, square" />
									</div>
									</div>
									
								</div>
					       	
								<div class="row">
									<div class="form-group">
										<div class="col-md-6">
										<div class="control-group">
											<label>Phone Number </label>
											<i class="glyphicon glyphicon-star star" ng-show="showError(listingForm.providerphone, 'required')" ></i>
											<input type="text" ng-pattern="phone_pattern" name="providerphone" ng-model="provider.phonenumber"  class="form-control"  required/>
											<span ng-show="showError(listingForm.providerphone, 'pattern')" class="help-inline">You must enter a valid Phone number</span>
										 </div>
										</div>
										<div class="col-md-6">
											<div class="control-group">
											<label>Email Address </label>
											<input type="email" name="provideremail" ng-model="provider.emailaddress"  class="form-control" />
											<span ng-show="showError(listingForm.provideremail, 'email')" class="help-inline">You must enter a valid email</span>
											</div>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="form-group">
										<div class="col-md-6">
										  <div class="control-group">
											<label>Website </label>
											<input type="url" name="website" ng-model="provider.website"  class="form-control" />
											<span ng-show="showError(listingForm.website, 'url')" class="help-inline">You must enter a valid url</span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="control-group">
											<label>Facebook page </label>
											<input type="url"  name="fburl" ng-model="provider.facebook"  class="form-control" />
											<span ng-show="showError(listingForm.fburl, 'url')" class="help-inline">You must enter a valid url</span>
											</div>
										</div>
									</div>
								</div>
					</div>
				</div>	
		  <div class="panel panel-warning" ng-if="hasVenue()">
           <div class="panel-heading"><h5>VENUE FEATURES</h5></div>
			  <div class="panel-body">
			     <span ng-show="!isVenuesWithVenueSpace()" class="help-inline">Please list atleast one venue space</span>
						<div class="row" >
						 <div class="form-group" >
							<div class="col-md-3" ng-repeat-start="venue in provider.venues">
									<label>Name</label>
									<i class="glyphicon glyphicon-star star" ></i>
									<input type="text" name="venuename" class="form-control" ng-minlength="1" ng-model="venue.name" required/>
							</div>
							<div class="col-md-2">
									<label>Capacity</label>
									<i class="glyphicon glyphicon-star star" ></i>
									<input type="number"  name="venuecapacity" class="form-control" ng-minlength="2" ng-model="venue.capacity" ng-model="venue.price" min="10" max="5000" required/>
							</div>
							   <div class="col-md-3" >
									<label>Price</label>
									<i class="glyphicon glyphicon-star star"></i>
									<input type="number" name="venueprice" class="form-control" ng-model="venue.price" min="10"  required/>
								</div>
								<div class="col-md-2" >
								<label>Currency</label>
								<i class="glyphicon glyphicon-star star" ></i>
											<select name="venuecurrency" class="form-control pointer" ng-model="venue.currency"  required>
												<option value="TZS">TZS</option>
												<option value="USD">USD</option>
											</select>
									</div>
							
							<div class="col-md-2" ng-repeat-end>
							       <label>{{$index + 1}}</label>
									<button type="button" class="btn  btn-xs form-control"  ng-click="removeVenue($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
							</div>
						 </div>
						</div> 
							<button type="button" class="btn btn-xs" ng-click="addVenue()"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> You have additional Venue space, list them here</button>
					
			  </div>
			</div>	
			
						
		     <button class="btn btn-primary btn-lg" type="submit" ui-sref="register.start" ><i class="fa fa-hand-o-left"></i> &nbsp; Previous</button>

			  <button class="btn btn-primary btn-lg" type="submit" ui-sref="register.features"  ng-disabled="!canGoNext() || !isVenuesWithVenueSpace()"><i class="fa fa-right"></i>  Next Section &nbsp;<i class="fa fa-hand-o-right"></i></button>