	<div class="panel panel-warning"">
     <div class="panel-heading"><h5>SPECIAL BUSINESS FEATURES/AMENITIES  
     <button popover-placement="top" popover="I fade in and out! A description list is perfect for defining termsA description list is perfect for defining termsA description list is perfect for defining terms"   popover-trigger="focus" class="btn">?</button></h5></div>
			  <div class="panel-body">
				<div class="row">
				<div class="form-group" >
				<div class="col-md-2">
					<label> Feature Name</label>
				</div>
				<div class="col-md-8">
					<input type="text" value="" class="form-control" ng-model="provider.feature" placeholder="Add new feature here"/>
				</div>
				<div class="col-md-2">
					   <button class="btn btn-default btn-xs form-control" ng-click="addFeature()">
								 Save feature
							</button>
					</div>		
			 </div>
			<div class="list-group">
			 <div class="list-group-item" ng-repeat="feature in features track by $index">
				<h4 class="list-group-item-heading" >
				   {{feature.name}}<a ng-click="removeFeature($index)"><i class="fa fa-times" ></i></a>
				</h4>
				<ul class="list-group">
				<li class="list-group-item" ng-repeat="featurelist in feature.description track by $index">
				   <span class="badge"><a ng-click="removeFeatureDescription($parent.$index,$index)"><i class="fa fa-times" ></i></a></span> 
				        {{featurelist}}
				    
				    <div class="form-times" ng-if="featurelist.length < 5">
				      
					      <input type="text" class="form-control" ng-model="feature.description[$index]"  ng-model-options="{ debounce: 1000 }" placeholder="Another decription line here" >
					    
					  </div>
					</li>
					
				  <button class="btn btn btn-xs" ng-click="addFeatureDescription($index)">
								<i class="fa fa-plus" ></i> add more feature description
						</button>
				  
				  </ul>
				  <!-- <dd ng-repeat-end ng-if="!$last"><hr/></dd> -->
				</div>
			</div>
		</div>
		</div>
		</div>				
		     <button class="btn btn-primary btn-sm" type="submit" ui-sref="register.location" ><i class="fa fa-left"></i> &nbsp; Previous</button>

			  <button class="btn btn-primary btn-sm" type="submit" ui-sref="register.services" ><i class="fa fa-right"></i> &nbsp; Next</button>