
<div class="white-row" class="white-row" ng-switch
	on="$state.current.name">
	<p ng-switch-default>E-mefana lists events providers that caters to
		a variety of events. Providers must have an official name and address,
		and must offer daily onsite management. Other rules apply: read the
		complete E-mefana policy for service providers listings.
	</p>
	<p ng-switch-when="register.features">
		Tell us more about special features setting <strong>{{provider.name}}</strong> apart from the competition
	</p>
	<p ng-switch-when="register.location">
		Tell us where <strong>{{provider.name}}</strong> is located, for easier access to customers
	</p>
	<p ng-switch-when="register.services">
		Tell us more about type of events and services that <strong>{{provider.name}}</strong>has to offer
	</p>
</div>
